<!DOCTYPE html>
<html ng-app="hubisosite">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css"/>
</head>
<body ng-controller="siteCtrl">

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row boxAppName">
            <div class="col-xs-12 appName">
                <img src="logo_white_pre_alpha.png" height="80px">
            </div>
        </div>
        <div class="row boxAppVersion" style="margin-top:20px;">
            <div class="col-xs-12 appVersion">
                <img src="https://badge.fury.io/gh/hubisotool%2Fhubisotool.svg" alt="Version" height="20">
                <img src="https://travis-ci.org/hubisotool/hubisotool.svg" alt="Build status" height="20">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4" style="opacity:0">
                <div class="row">
                    <div class="col-xs-12 platformIcon">
                        <img src="https://slack.global.ssl.fastly.net/0180/img/mac_icon@2x.png" alt=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 platformName">
                        <h2>Mac</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option value="">32 bit</option>
                            <option value="">64 bit</option>
                        </select>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-success btn-block">zip</button>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-12 platformIcon">
                        <img src="https://slack.global.ssl.fastly.net/97d7c/img/windows_icon_blue@2x.png" alt=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 platformName">
                        <h2>Windows</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <select class="form-control" ng-model="winver">
                            <option value="ia32">32 bit</option>
                            <option value="x64">64 bit</option>
                        </select>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <button ng-click="dwnldWinInstaller()" type="button" class="btn btn-warning btn-block">Installer</button>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <button ng-click="dwnldWin()" type="button" class="btn btn-success btn-block">zip</button>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
            </div>
            <div class="col-xs-4" style="opacity:0">
                <div class="row">
                    <div class="col-xs-12 platformIcon">
                        <img src="http://design.ubuntu.com/wp-content/uploads/logo-ubuntu_cof-orange-hex.png" alt=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 platformName">
                        <h2>Linux</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <select class="form-control">
                            <option value="">32 bit</option>
                            <option value="">64 bit</option>
                        </select>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-success btn-block">tar.gz</button>
                    </div>
                    <div class="col-xs-3"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/bluebird/latest/bluebird.min.js"></script>
<script src="app.js"></script>
</body>
</html>